<p>admin-dashboard works!</p>

<div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-3 mb-2">
        <div class="card">
          <img src="assets/view.png" class="card-img-top img-fluid" alt="View Image">
          <div class="card-body">
            <a class="nav-link" routerLink="/assign" routerLinkActive="active" ariaCurrentWhenActive="page"><h2 class="card-title text-center">Assign Course</h2></a>
            <p class="card-text"></p>
            
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-2">
        <div class="card">
          <img src="assets/enroll.png" class="card-img-top img-fluid" alt="Enroll Image">
          <div class="card-body">
            <a class="nav-link" routerLink="/view_courses" routerLinkActive="active" ariaCurrentWhenActive="page"><h2 class="card-title text-center">View_Courses_taken_by_Student </h2></a> 
            <p class="card-text"></p> 
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-2">
        <div class="card">
          <img src="assets/enroll.png" class="card-img-top img-fluid" alt="Enroll Image">
          <div class="card-body">
            <a class="nav-link" routerLink="/view_users" routerLinkActive="active" ariaCurrentWhenActive="page"><h2 class="card-title text-center">View_Users </h2></a> 
            <p class="card-text"></p> 
          </div>
        </div>
      </div>




    </div>
  </div>




<button (click)="logout()" class="btn btn-danger">Log Out</button>
