.outer{
    height: 100vh;
    background: linear-gradient(to top, #c9c9ff 50%, #6e6ef6 90%) no-repeat;
}
.panel-heading{

    text-align: center;
    margin-bottom: 10px;

}

#forget{
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: none;

}
.form-inline label{
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
}

.btn{
    margin-top: 20px;
    border-radius: 15px;

}

.panel{
    min-height: 30px;
    box-shadow: 20px 20px 60px rgb(218,218,218);
    border-radius: 12px;
    margin-top: 10px;
}
.input-field{
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor:pointer;
    border: 1px solid #ddd;
    color: #4343ff;
}

.input-field.error{
    border: 1px solid red;
    color: red;
}

input[type='text'],
input[type='password']{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
}

.fa-eye-slash.btn{
    border: none;
    outline:none;
    box-shadow: none;
}

img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}
.img-responsive{
    width: 600px;
height: 600px;

}

.bordert{
    border-top: 1px solid #aaa;
    position: relative;
}

.bordert:after{
    content: "or connect with";
    position: absolute;
    top: -13px;
    left: 33%;
    background-color: #fff;
    padding: 0 8px;
}

/* Add space around each label inside .icon_descr */
.icon_descr > label {
    margin-right: 20px; /* Adds space to the right */
    display: inline-block; /* Aligns items nicely, adjust as per layout needs */
    vertical-align: top; /* Keeps items aligned at the top */
  }
  
  /* Optional: Add some bottom space for each icon */
  .icon_descr img {
    margin-bottom: 8px; /* Adds space below the icons */
  }
  





