<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.jpg" alt="University Of Vishwakarma Logo" height="150">
      University Of Vishwakarma
    </a>
    <div class="navbar-nav" id="navbarSupportedContent">
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Home</a>
      <a class="nav-link" routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Login</a>
      <a class="nav-link" routerLink="/signup" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Signup</a>
      <a class="nav-link" routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Contact</a>
    </div>
  </div>
</nav>





<!-- <header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  ariaCurrentWhenActive="page" class="mr-5 hover:text-white">Home</a>
        <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  ariaCurrentWhenActive="page" class="mr-5 hover:text-white">Login</a>
        <a routerLink="/signup" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  ariaCurrentWhenActive="page" class="mr-5 hover:text-white">Signup</a>
        <a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  ariaCurrentWhenActive="page" class="mr-5 hover:text-white">Contact</a>
      </nav>
     
    </div>
  </header> -->