<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
<div class="panel heading">
    <h3 class="pt-3 font-weight-bold">  Assign Course </h3>
</div>
<div class="panel-body p-3">
    <form [formGroup]="addUpForm">
        <div class="form-group pt-3">
            <div class="input-field" [class.error]="addUpForm.controls['Course_Name'].dirty && addUpForm.hasError('required','Course_Name')">
                <span class="fa fa-user p-2"></span>
                <input formControlName="Course_Name" type="text" placeholder="Course_Name">
            </div>
        </div>
        @if(addUpForm.controls['Course_Name'].dirty && addUpForm.hasError('required','Course_Name'))
        {
            <small class="text-danger">*Course_Name is required</small>
        }
        <div class="form-group pt-3">
            <div class="input-field" [class.error]="addUpForm.controls['Faculty'].dirty && addUpForm.hasError('required','Faculty')">
                <span class="fa fa-user p-2"></span>
                <input formControlName="Faculty" type="text" placeholder="Faculty">
            </div>
        </div> @if(addUpForm.controls['Faculty'].dirty && addUpForm.hasError('required','Faculty'))
        {
            <small class="text-danger">*Faculty is required</small>
        }
        <div class="form-group pt-3">
            <div class="input-field" [class.error]="addUpForm.controls['TimeDay'].dirty && addUpForm.hasError('required','TimeDay')">
                <span class="fa fa-user p-2"></span>
                <input formControlName="TimeDay" type="text" placeholder="TimeDay">
            </div>
        </div> 
        @if(addUpForm.controls['TimeDay'].dirty && addUpForm.hasError('required','TimeDay'))
        {
            <small class="text-danger">*TimeDay is required</small>
        }
       
        <div class="form-groups pt-3">
            <div class="input-fields" [class.error]="addUpForm.controls['Department'].dirty && addUpForm.hasError('required','Department')">
                <span class="fa fa-users p-2"></span> <!-- You can change the icon as per your need -->
                <select class="role-select" formControlName="Department" id="listDepartmentSelect">
                    <option value="" disabled selected>Select your Department</option>
                    <option *ngFor="let department of ListDepartment" [value]="department.department_ID">
                      {{ department.department_Name }}
                    </option>
                  </select>
            </div>
        </div>
        @if(addUpForm.controls['Department'].dirty && addUpForm.hasError('required','Department'))
        {
            <small class="text-danger">*Department is required</small>
        }
       
        <button type="submit" class="btn btn-primary btn-block mt-4 w-100" (click)="onAddup()"> Add_Course </button>
        
    </form>
</div>


                </div>
            </div> 
        </div>
        <button (click)="logout()" class="btn btn-danger">Log Out</button>
        
    </div>
</div>